<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<header class="l-header l-header-1 t-header-1" th:fragment="profile">
    <div class="navbar navbar-ason">
        <div class="container-fluid">
            <div class="navbar-header">
                <!--<button type="button" data-toggle="collapse" data-target="#ason-navbar-collapse"-->
                <!--class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span-->
                <!--class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>-->
                <a href="/home" class="navbar-brand widget-logo"><span class="">
                    <!--<img th:src="@{/img/logo_dark.png}"/>-->
                </span></a>
            </div>
            <!--<div id="ason-navbar-collapse" class="collapse navbar-collapse">-->
            <!--<ul class="nav navbar-nav">-->


            <!--</ul>-->
            <!--<ul class="nav navbar-nav navbar-right">-->
            <!--<li>-->
            <!--&lt;!&ndash; Profile Widget&ndash;&gt;-->
            <!--<div class="widget-profile profile-in-header">-->
            <!--&lt;!&ndash;<button type="button" data-toggle="dropdown" class="btn dropdown-toggle"><span class="name">Adekunle Chioma.</span> <span>&ndash;&gt;-->
            <!--&lt;!&ndash;Wallet Balance: &#8358 1,000.00&ndash;&gt;-->
            <!--&lt;!&ndash;</span>&ndash;&gt;-->
            <!--&lt;!&ndash;</button>&ndash;&gt;-->
            <!--<ul role="menu" class="dropdown-menu">-->

            <!--<li class="power">-->
            <!--<a> <th:choose>-->
            <!--<th:when test="${authentication != null}">-->
            <!--<th:url var="logoutUrl" value="/logout" />-->
            <!--<form action="${logoutUrl}" method="post" id="logout-form">-->
            <!--<i class="fa fa-power-off"></i> <input type="submit" class="btn btn-link" value="Log Out" />-->
            <!--<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />-->
            <!--</form>-->
            <!--</th:when>-->
            <!--</th:choose>-->
            <!--</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--</li>-->

            <!--</ul>-->
            <!--</div>-->
        </div>
    </div>
</header>